<div class="popupFrame">
    <div class="popupConfirm">
        <div class="closeImg" stylle="display:none;">
            <i class="fa fa-times"></i>
        </div>
        <div class="popup-content">
            <headline data="popupConfirm.popupData.primaryHeadline"></headline>
            <!--pay attention to change content body to proper attr-->
            <content-body data="popupConfirm.popupData.content"></content-body>
            <div class="btns-block">
                <btn data="popupConfirm.popupData.yesBtn" btn-function="popupConfirm.yes"></btn>
                <btn data="popupConfirm.popupData.cancelBtn" btn-function="popupConfirm.no"></btn>
            </div>
        </div>
    </div>
</div>