
<div class="article" ng-style="::article.articleData.backgroundStyle" ng-class="::[article.articleData.class, {'forThumbnail' : article.articleData.forThumbnail}]">
    <div ng-if="::article.articleData.forThumbnail">
        <thumbnail ng-click="article.showFullArticle()" data="article.articleData.thumbnail"></thumbnail>
    </div>
    <div ng-if="::!article.articleData.forThumbnail">
        <update-title name="title" title="{{::article.articleData.title}}"></update-title>
        <update-meta charset="ISO-8859-1"></update-meta>
        <update-meta http-equiv="Content-Language" content="es"></update-meta>
        <update-meta name="description" content="{{::article.articleData.description}}"></update-meta>
        <update-meta name="keywords" content="{{::article.articleData.keywords}}"></update-meta>
        <update-meta property="og:title" content="{{::article.articleData.title}}"></update-meta>
        <update-meta property="og:image" content="{{::article.articleData.image}}"></update-meta>
        <update-meta property="og:type" content="article"></update-meta>
        <update-meta property="og:url" content={{::article.$window.location.href}}></update-meta>
        <div class="article-bg" ng-style="::article.articleData.backgroundStyle"></div>
        <div class="article-content container" compile="::article.html"></div>
    </div>
</div>
