<div class="autoSubmit" ng-show="autoSubmit.show" ng-class="::autoSubmit.autoSubmitData.class">
    <div class="autoSubmitContainer">
        <div class="closeImg" ng-click="autoSubmit.close()">
            <i class="fa fa-times"></i>
        </div>
        <!--<iframe id="autoSubmitFrame" frameborder="0"></iframe>-->
        <div class="autoSubmitFrameWrapper" compile-with-watch="autoSubmit.frame"></div>
    </div>
    <!--<div class="autoSubmit" ng-class="::autoSubmit.autoSubmitData.class" compile="autoSubmit.html">-->
    <!--</div>-->
</div>
