<div class="ngSelect" ng-class="{'error': !ngSelect.form.$valid && ngSelect.form.$touched}">
    <select ng-disabled="ngSelect.select.disabled" ng-if="::ngSelect.select.type !== 'ui-select'"
            ng-required="ngSelect.select.required" class="form-control"
            name="{{ngSelect.select.name}}"
            ng-class="::[{'withIcon': ngSelect.isDefined(ngSelect.select.icon)}, ngSelect.select.class]"
            ng-options="option as option.label for option in ::ngSelect.select.options track by option.id"
            ng-model="ngSelect.select.selected">
        <option value="" selected disabled>{{::ngSelect.select.placeholder}}</option>
    </select>


    <div ng-if="::ngSelect.select.type === 'ui-select'" class="select-ui">
        <div ng-if="!ngSelect.resolutionChecker.isMobile() || ngSelect.select.forCountries">
            <ui-select name="{{ngSelect.select.name}}" ng-model="ngSelect.select.selected"
                       ng-disabled="ngSelect.select.disabled">
                <ui-select-match placeholder="">
                    <img ng-src="/assets/countries/{{$select.selected.flag}}"/>
                    <i class="glyphicon glyphicon-chevron-down"></i>
                <span ng-if="ngSelect.select.withNumber">
                     {{$select.selected.code}} +{{$select.selected.area_code}}
                </span>
                </ui-select-match>
                <ui-select-choices repeat="country in ngSelect.countries">
                    <img ng-src="/assets/countries/{{country.flag}}"/>
                    <!--<div class="country-code" ng-bind-html="country.code"></div>-->
                    <!--+<div class="area-code" ng-bind-html="country.area_code"></div>-->
                    {{country.code}}
                    +{{country.area_code}}
                </ui-select-choices>
            </ui-select>
        </div>
        <div ng-if="ngSelect.resolutionChecker.isMobile() && !ngSelect.select.forCountries" >
            <select ng-disabled="ngSelect.select.disabled"
                    ng-required="ngSelect.select.required" class="form-control mobileSelect"
                    name="{{ngSelect.select.name}}"
                    ng-class="::[{'withIcon': ngSelect.isDefined(ngSelect.select.icon)}, ngSelect.select.class]"
                    ng-options="country as country.area_code for country in ::ngSelect.countries"
                    ng-model="ngSelect.select.selected">
                <option value="" selected disabled>{{::ngSelect.select.placeholder}}</option>
            </select>

        </div>
    </div>
</div>

