<div class="headlineFitText headline" ng-class="::headlineFitText.headlineFitTextData.class" ng-attr-id="{{::headlineFitText.headlineFitTextData.id}}">
    <span class="icon" ng-if="::headlineFitText.headlineFitTextData.icon" ng-class="::[headlineFitText.headlineFitTextData.icon.type, headlineFitText.headlineFitTextData.icon.class]"></span>
    <span class="title" data-fittext data-fittext-max="52" ng-bind-html="::headlineFitText.headlineFitTextData.title | unsafe" id="{{::headlineFitText.headlineFitTextData.id}}"></span>
</div>